<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>전시 카드 목록</title>
    <style>
        body {
            font-family: 'Space Grotesk', sans-serif;
            padding: 20px;
        }

        .card {
            border: 1px solid black;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
        }

        .badge {
            display: inline-block;
            padding: 4px 10px;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 7px;
        }
        .green{background-color: green}
        .orange{background-color: darkorange}
        .yellow{background-color: yellow; color: black;}
        .red{background-color: red}
        .gray{background-color: gray}

    </style>
</head>
<body>

<h1>current exhibition list</h1>
{{#cards}}
    <div class="card">
        <h4>{{title}}</h4>
        <p>{{recommendationScore}}</p>
        <p><strong> 전시실 </strong> {{agencyNm}}</p>
        <p><strong> 혼잡도 </strong>
            <span class= "badge {{#isGreen}}green{{/isGreen}}{{#isOrange}}orange{{/isOrange}} {{#isYellow}}yellow{{/isYellow}}{{#isRed}}red{{/isRed}}{{#isGray}}gray{{/isGray}}">
                {{congestionNm}}
            </span>
        </p>
        <p><strong> 추천 점수: </strong> {{recommendScore}}</p>
    </div>
{{/cards}}

</body>
</html>