<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

<!--HEADER-->
<header>
    <a href="home.mustache"></a>
    <a href="my.mustache"></a>
</header>

<!--main-->




</body>
</html>