<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Intro Page</title>
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">

	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
            font-family: 'Space Grotesk', sans-serif;
		}

        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }


        .header {
            background-color: #ffffff;
            height: 60px;
            border: 2px solid #000;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.header-inner {
			width: 100%;
			max-width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0 24px;
			box-sizing: border-box;
		}

		.sub-title {
			font-size: 27px;
			font-weight: 550;
			color: black;
		}

		.left-header {
			display: flex;
			align-items: center;
			gap: 12px;
		}


		.main {
            flex: 1;
            background-color: #ffffff;
            position: relative;
        }


		.background-image {
			position: absolute;
            /*background-position: center;*/
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 1;

		}

		.title {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 80px;
			padding-bottom: 80px;
		}

		.text-box {
			text-align: center;
			color: #00FF00;
			font-weight: bold;
		}

		.text-box h1 {
			font-size: 70px;
			line-height: 1.1;
			text-shadow: 1px 1px 2px black;
		}

		.enter-btn {
			margin-top: 20px;
			display: inline-block;
			padding: 10px 20px;
			background-color:#00FF00;
			color: #000;
			text-decoration: none;
			font-weight: 600;
			font-size: 14px;
			border: 2px solid black;
			box-shadow: 3px 3px black;
			transition: 0.2s ease-in-out;
		}

		.enter-btn:hover {
			background-color:#00FF00;
			box-shadow: none;
			transform: translate(2px, 2px);
		}


        .footer {
            background-color: #000;
            height: 60px;
            border-top: 1px solid #000;
            color: white;
			font-size: 15px;
        }

		.popup {
			position: fixed;
			top: 100px;
			right: 60px;
			width: auto;
			z-index: 9999;
			display: block;
			align-items: center;
			justify-content: center;
		}
		.popup-box {
			width: 320px;
			background: #fff;
			border: 3px solid #111111;
			box-shadow: 0 8px 24px rgba(0,0,0,0.06);
			overflow: hidden;
		}
		.popup-header {
			height: 30px;
			background: #000;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0 16px;

		}
		.popup-close {
			font-size: 32px;
			color: #fff;
			line-height: 1;
			cursor: pointer;
			font-weight: bold;
			user-select: none;
		}

		.custom-popup-body {
			padding: 0 18px 30px 18px;
			min-height: 120px;
			background: #fff;
			box-sizing: border-box;
		}

	</style>
</head>
<body>


<!--헤더-->
<header class="header">
	<div class="header-inner">
		<div class="left-header">
		<div class="sub-title">Midterm project</div>
	</div>
	</div>
</header>

<!--팝업-->
<div class="popup" id="Popup">
	<div class="popup-box">
		<div class="popup-header">
			<span class="popup-close">&times;</span>
		</div>
		<div class="custom-popup-body">
			<p style="margin:10px 0; text-align:start; color:#111;">
				국립현대미술관 @무료@ 특별 개방!!<br>
				9월 1일 - 9월 10일 10일간 <br>
				과천 / 덕수궁 / 청주 月요일 휴무 <br>
				서울은 휴무 없음 <br>
			</p>
		</div>
	</div>
</div>


<!--메인 구역-->
<div class="main">
	<!-- 배경 이미지 -->
    <div class="background-image">
	<img src="img/intro.png" style="width: 100%; height: 100%; object-fit: cover; object-position: center;"></div>
    <div class="main-container"></div>


	<!-- 제목 -->
	<div class="title">
		<div class="text-box">
			<h1>
				EXHIBITION <br>
				CURATING <br>
				SERVICE
			</h1>
			<a href="/main" class="enter-btn">ENTER</a>
		</div>
	</div>
</div>

<div class="footer"> 20250903</div>


</body>
</html>
