<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

	<meta charset="UTF-8">
    <title>My</title>

<style>
	body {
		margin: 0;
		font-family: 'inter', sans-serif;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 2fr 5fr 3.5fr;
		grid-template-rows: 45px 2fr 2fr;
		min-height: 100vh;
		/*border: 1px solid #000;*/
	}

	.grid-item {
		/*outline: 1px solid #000;*/
		padding: 10px;
		display: flex;
		justify-content: flex-start;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	#top-right, #name, #empty {
		border-right: none;
	}

	#image, #favorites, #empty {
		border-bottom: none;
	}

    .cards-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        height: 100%;
        border-left: 1px solid black;
    }

    .favorite-img img {
        max-width: 100%;
        max-height:120px;
        object-fit: cover;
        display: block;
    }

    .favorite-img {
        width: 100%;
        height: 140px;
        overflow: hidden;
    }

    .cards-grid .card {
        border-left: 1px solid black;
        border-top: none;
        border-right: none;
        border-bottom: none;
        box-sizing: border-box;
        padding: 10px;
        height: 140px;
    }


	/* 상단바 */
	#top-left   { grid-row: 1; grid-column: 1;  background: linear-gradient(to right, #f9c, #c6f); justify-content: flex-start;}
	#top-center { grid-row: 1; grid-column: 2;  justify-content: flex-start;}
	#top-right  { grid-row: 1; grid-column: 3; background: linear-gradient(to right,#f9c, #c6f); justify-content: flex-end;}

	/* 2nd */
	#stats { grid-row: 2; grid-column: 1; }
	#taste   { grid-row: 2; grid-column: 2; }
	#name    { grid-row: 2; grid-column: 3; }

	/* 3rd */
	#image     { grid-row: 3; grid-column: 1;  }
	#favorites { grid-row: 3; grid-column: 2; }
	#empty     { grid-row: 3; grid-column: 3;}

</style>
</head>

<body>

<div class="grid-container">

<!--상단 바 구역-->
	<div class="grid-item" id="top-left">@@@1-1</div>
	<div class="grid-item" id="top-center">MY TASTE</div>
	<div class="grid-item" id="top-right">MyPage</div>


<!--메인 grid-->
	<div class="grid-item" id="stats" style="display: flex; ">
		STATS (통계 정보)
	</div>

	<div class="grid-item" id="taste" style="font-size: 16px; ">
		<p>추천 점수 평균: 82</p>
		<br>
		<p>오후 / 무료 / 서울 전시관</p>
	</div>

	<div class="grid-item" id="name" style=" display: flex; align-items: flex-start; " >
		<p style="font-size: 10px">WELCOME</p>
		<p style=" font-size: 40px"><strong>{SERA}</strong></p>
	</div>

	<div class="grid-item" id="image" style="font-size: 16px;">
		여기는 뭘 넣어야 하더라????
	</div>


    <!--관심 리스트 버튼 클릭시!-->
	<div class="grid-item" id="favorites">
        <span class="favorites" style="font-weight: bold; font-size: 40px">FAVORITES</span>
        <div id="favorites-list" style="border-left: none;" class="cards-grid">

<!--            <div class="card">-->
<!--                <div class="favorite-index" style="font-size: 20px; font-weight: bold"><strong>1</strong></div>-->
<!--            <div class="favorite-day">MON</div>-->
<!--            <div class="favorite-img"><img src="img/mmcaseoul_숲.jpg"></div>-->
<!--            <div class="favorite-title">MMCA 다원예술 2025: 숲</div>-->
<!--            <div class="favorite-location">국립현대미술관</div>-->
<!--            <div class="favorite-period">2025-05-23~2026-01-15</div>-->
<!--        </div>-->


<!--        <div class="card">-->
<!--            <div class="favorite-index" style="font-size: 20px; font-weight: bold"><strong>1</strong></div>-->
<!--            <div class="favorite-day">MON</div>-->
<!--            <div class="favorite-img"><img src="img/mmcaseoul_숲.jpg"></div>-->
<!--            <div class="favorite-title">MMCA 다원예술 2025: 숲</div>-->
<!--            <div class="favorite-location">국립현대미술관</div>-->
<!--            <div class="favorite-period">2025-05-23~2026-01-15</div>-->
<!--        </div>-->

<!--        <div class="card">-->
<!--            <div class="favorite-index" style="font-size: 20px; font-weight: bold"><strong>1</strong></div>-->
<!--            <div class="favorite-day">MON</div>-->
<!--            <div class="favorite-img"><img src="img/mmcaseoul_숲.jpg"></div>-->
<!--            <div class="favorite-title">MMCA 다원예술 2025: 숲</div>-->
<!--            <div class="favorite-location">국립현대미술관</div>-->
<!--            <div class="favorite-period">2025-05-23~2026-01-15</div>-->
<!--        </div>-->
<!--	</div>-->
    </div>

	<div class="grid-item" id="empty" style="font-size: 16px;">
		전시 둘러보기 아니면 추천받은 전시/?????
	</div>
</div>
</div>
</body>

<script>

</script>
</html>